/*------------*/

@font-face {
  font-family: 'Brighter Planet';
  src: url('fonts/KievitWebPro.eot');
  src: local('☺'), url("fonts/KievitWebPro.woff") format("woff"), url("fonts/KievitOT-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brighter Planet';
  src: url('fonts/KievitWebPro-Bold.eot');
  src: local('☺'), url("fonts/KievitWebPro-Bold.woff") format("woff"), url("fonts/KievitOT-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Brighter Planet';
  src: url('fonts/KievitWebPro-BoldIta.eot');
  src: local('☺'), url("fonts/KievitWebPro-BoldIta.woff") format("woff"), url("fonts/KievitOT-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Brighter Planet';
  src: url('fonts/KievitWebPro-Ita.eot');
  src: local('☺'), url("fonts/KievitWebPro-Ita.woff") format("woff"), url("fonts/KievitOT-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

/* ---------- */

body, h1, h2, h3, h4, h5, h6, ul, ol, li, p, pre {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Brighter Planet", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
  background: #eee;
  padding: 20px;
}

h1 img {
  display: block;
  margin: 0 0 10px;
}

h2 {
  margin: 30px 0 0;
  border-top: 1px solid gray;
  padding: 5px 0 0;
}

h3 {
  margin: 20px 0 0;
}

ul {
  margin: 10px 0 10px 1em;
}

p, li {
  margin: 5px 0 0;
  max-width: 600px;
}

a {
  color: blue;
}

p.cta:before {
  content: "⇾ ";
  color: gray;
  font-size: 18px;
}

.highlight {
  margin: 10px -20px;
  padding: 10px 20px;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}
