  <h1>Brighter Planet developer site</h1>
  <h2>Documentation and collaboration for Brighter Planet technology</h2>
  <ul class="pages">
    <li class="index"><a href="/">Overview</a></li>
    <li class="support"><a href="/support.html">Getting support</a></li>
    <li class="fellowship"><a href="/fellowship">Developer fellowship program</a></li>
    <li class="collaboration"><a href="/collaboration">How to collaborate</a></li>
    <li class="projects"><a href="/projects.html">Open source projects</a></li>
  </ul>
