#title {
  background-image: url(images/tools.png);
  height: auto;
}

#content>ul {
  margin: 10px 15px 10px 150px;
  list-style-type: square;
  padding: 0 0 0 1em;
}

#content>ul h3 {
  margin-left: 0;
  margin-top: 0;
}

ul.pages {
  max-width: 825px;
  margin: 0 auto;
  background: none;
  padding-left: 150px;
  padding-right: 0;
}

ul.pages li a {
  color: #124165;
}

ul.pages li.secondary {
  float: right;
}

body.index ul.pages li.index a,
body.support ul.pages li.support a,
body.fellowship ul.pages li.fellowship a,
body.transparency ul.pages li.transparency a
{
  background: white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  -moz-box-shadow: -1px -1px 0 silver;
  -webkit-box-shadow: -1px -1px 0 silver;
  box-shadow: -1px -1px 0 silver;
  text-decoration: none;
}

body.index p.description {
  font-size: 15px;
}

body.fellowship .ideas {
  float: right;
  width: 250px;
  background: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 7px;
  -moz-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1);
  box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1);
  margin: 0 0 0 20px;
}

body.fellowship .ideas h2 {
  margin: 0 0 10px !important;
  font-size: 16px !important;
  font-weight: normal;
}

body.fellowship .ideas ul {
  list-style: none;
  color: #444;
}

body.fellowship .ideas ul li {
  padding-bottom: 5px;
  margin: 0 0 5px;
  border-bottom: 1px solid #ccc;
}

body.fellowship .ideas ul li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

body.fellowship dl {
  overflow: auto;
  font-size: 14px;
  margin: 0 0 20px 150px;
  border-bottom: 1px solid silver;
  padding: 0 0 10px;
}

body.fellowship dl dd, body.fellowship dl dt {
  padding: 10px 0 0;
  margin: 10px 0 0;
  border-top: 1px solid silver;
}

body.fellowship dl dt {
  float: left;
  width: 160px;
  font-weight: bold;
  clear: left;
}

body.fellowship dl dd {
  margin-left: 160px;
}

body.fellowship ul.fellows {
  list-style: none !important;
  padding: 0 !important;
  margin-right: 0 !important;
}

body.fellowship ul.fellows li {
  background-color: #e9e9e9;
  background-position: 100% -20px;
  background-repeat: no-repeat;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  padding: 0 0 10px;
  margin: 0 0 20px;
}

body.fellowship ul.fellows li { background-image: url(/images/oroeco.jpg); }
body.fellowship ul.fellows li+li { background-image: url(/images/matt.jpg); }
body.fellowship ul.fellows li+li+li { background-image: url(/images/scott.jpg); }

body.fellowship ul.fellows li h3 {
  font-size: 16px;
  text-shadow: 1px 1px 0 white;
  background: #ccc;
  padding: 10px;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
  width: 525px;
}

body.fellowship ul.fellows li h3 span {
  color: #444;
}

body.fellowship ul.fellows li p {
  margin: 10px 0 0 10px;
  width: 510px;
}

body.transparency h2 {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

body.transparency #content img {
  margin: 20px 0 20px -150px;
}

body.transparency #content p {
  font-size: 16px;
  line-height: 1.3;
}

body.transparency #content ul {
  float: right;
  width: 360px;
  margin: 0 0 0 40px;
}

body.transparency .intro {
  max-width: none !important;
}

.strike {
  text-decoration: line-through;
}
